keyring==18.0.1
PyGObject==3.36.0
cryptography==2.8
colorama==0.4.3
bpython==0.20.1
brotli==1.0.9
cffi==1.14.3
contextvars==2.4
cx_Oracle==8.0.1
Cython==0.29.21
dataclasses==0.8
django_model_utils==4.0.0
django_tables2==2.3.3
djangorestframework==3.12.2
docutils==0.16
flake8==3.8.4
ipaddr==2.2.0
ipdb==0.13.4
ipython==7.19.0
mock==4.0.2
mypy_extensions==0.4.3
numpy==1.19.4
olefile==0.46
ordereddict==1.1
pip_api==0.0.17
protobuf==3.14.0
psycopg2==2.8.6
pyenchant==3.1.1
pylama==7.7.1
pylibmc==1.6.1
pyOpenSSL==19.1.0
PyQt5==5.15.1
PySide2==5.15.1
pytest==6.1.2
python_memcached==1.59
pywatchman==1.4.1
PyYAML==5.3.1
requirementslib==1.5.16
secrets==1.0.2
simplejson==3.17.2
tblib==1.7.0
typed_ast==1.4.1
wincertstore==0.2
