*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a.btn-svg {
  font-size: 1.0rem;
  font-weight: 700;
  line-height: 40px;
  width: 145px;
  position: relative;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

svg {
  position: absolute;
  left: 0;
  width: 130;
  height: 45;
  z-index: -100;
}

/* アニメーションの重要点？ */
a.btn-svg svg rect {
  transition: all 400ms ease;
  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 201px, 16px;
  stroke-dashoffset: 70px;
}

a.btn-svg:hover svg rect {
  stroke-dashoffset: 287px;
}

a.btn-svg span {
  color: #000;
}

.buttonbar {
    text-align: right;
}